// Colors Variable
$clr--primary-main: #222831;
$clr--primary-dark: #6A6A6A;
$clr--primary-light: #FF5722;
$clr--primary-disabled: #DD2C00;
$clr--secondary-main: #10375C;
$clr--secondary-dark: #000000;
$clr--secondary-light: #fff;
$clr--secondary-disabled: #9A9A9A;
$clr--secondary-third: #0D2C4A;
$clr--secondary-fourth: #F8F8F8;
$clr--secondary-fifth: #DFDFDF;