.pagination {
  padding-left: 0;
  list-style: none;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(9, 1fr);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}