.d--flex {
    display: flex;
}
.d--grid{
    display: grid;
}
.p--absolute {
    position: absolute;
}
.p--relative {
    position: relative;
}
.p--fixed{
    position: fixed;
}
.btn{
    padding: 8px 20px;
    cursor: pointer;
    background: #F68338;
    -webkit-appearance: none;
    position: relative;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    border-radius: 0;
    border: 1px solid #F68338;
    transition: all .3s ease;
    &:hover{
        color: $clr--primary-light;
        background-color: $clr--secondary-disabled;
        border: 1px solid $clr--secondary-disabled;
    }
}