.d--flex {
    display: flex;
}
.d--grid{
    display: grid;
}
.p--absolute {
    position: absolute;
}
.p--relative {
    position: relative;
}
.p--fixed{
    position: fixed;
}
.btn{
    padding: 8px 20px;
    cursor: pointer;
    background: $clr--primary-main;
    -webkit-appearance: none;
    position: relative;
    color: $clr--primary-light;
    font-size: $font--size-light;
    font-weight: $font--weight-secondary;
    display: inline-block;
    line-height: 1.5;
    border-radius: 0;
    border: 1px solid $clr--primary-main;
    transition: all .3s ease;
    &:hover{
        color: $clr--primary-light;
        background-color: $clr--secondary-disabled;
        border: 1px solid $clr--secondary-disabled;
    }
}
.before{
    display: block !important;
    opacity: 1 !important;
    &::before{
        opacity: 1 !important;
        visibility: visible !important;
    }
}
.open{
    opacity: 1 !important;
    visibility: visible !important;
}
.full{
    width: 100% !important;
}
.close{
    display: none;
}