// font-family //   
$main-font-family:'Open Sans',
sans-serif;
//colors//
$main-clr:#231F20;
$main-dark-clr:#000000;
$primary-clr:#ffffff;
$secondary-clr:#F8F8F8;
$third-clr:#8B8B8B;
$fourth-clr:#AAAAAA;
// font-size //
$main-font-size:17px;
$primary-font-size:13px;
$secondary-font-size:11px;
$third-font-size:20px;
$fourth-font-size:15px;
// font-weight //
$main-font-weight:200;
$primary-font-weight:300;
$secondary-font-weight:400;
$third-font-weight:500;
$fourth-font-weight:700;
// line-height //
$main-line-height:1.4;
$primary-line-height:1.6;
$secondary-line-height:38px;
$third-line-height:30px;
// letter-spacing //
$main-letter-spacing:14;
$primary-letter-spacing:17;
$secondary-letter-spacing:20;
$third-letter-spacing:22;
// transition //
$main-transition: all 0.3s linear;