.right__content__wrap{
    // Blog Post
    .blog-post{
        &__content{
            margin-left: -16px;
            .post{
                display: block;
                &__header{
                    &__title{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-success;
                        color: $clr--primary-light;
                        font-size: 1.5rem;
                        line-height: 1.2;
                        &__link{
                            color: $clr--primary-light;  
                        }
                    }
                    &__data{
                        margin-bottom: 10px;
                        line-height: 1.75em;
                        &__date{
                            font-family: $font--family-primary;
                            font-weight: $font--weight-secondary;
                            font-size: $font--size-fifth;
                            line-height: 1.75em;
                            a{
                                color: $clr--primary-dark;
                                font-size: $font--size-fifth;
                                font-weight: $font--weight-secondary;
                            }
                        }
                        .post__header__categories{
                            font-family: $font--family-primary;
                            &::before{
                                content: 'â€”';
                                display: inline-block;
                                margin: 0 .6rem 0 .4rem;
                                color: $clr--primary-main;
                            }
                            &__link{
                                font-weight: $font--weight-secondary;
                                font-size: $font--size-fifth;
                                color: $clr--primary-dark;
                            }
                        }
                    }
                }
                &__image{
                    margin-bottom: 20px;
                    &__link{
                        display: block;
                        img{
                            width: 100%;
                            display: block;
                        }
                    }
                }
                &__content{
                    &__description{
                        font-family: $font--family-primary;
                        font-size: $font--size-light;
                        line-height: 1.75em;
                        font-weight: $font--weight-secondary;
                        color: $clr--primary-dark;
                        margin: 0 0 20px;
                    }
                }
                &__author{
                    margin-top: 30px;
                    padding-top: 30px;
                    border-top: 1px solid $clr--secondary-disabled;
                    &__image{
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        margin-right: 15px;
                        img{
                            display: block;
                            width: 100px;
                            height: 100px;
                            border-radius: 100%;
                        }
                    }
                    &__content{
                        &__head{
                            margin-bottom: 10px;
                            padding-top: 5px;
                            &__title{
                                font-family: $font--family-primary;
                                font-size: $font--size-sixth;
                                font-weight: $font--weight-success;
                                color: $clr--primary-light;
                            }
                        }
                        &__description{
                            &__text{
                                font-family: $font--family-primary;
                                font-size: $font--size-light;
                                line-height: 1.75em;
                                font-weight: $font--weight-secondary;
                                color: $clr--primary-dark;
                                margin: 0 0 20px;
                                a{
                                    color: $clr--primary-main;
                                }
                            }
                        }

                    }
                }
                &__comment{
                    margin-top: 30px;
                    padding-top: 30px;
                    &__head{
                        margin-bottom: 20px;
                        &__title{
                            font-family: $font--family-primary;
                            font-size: $font--size-sixth;
                            font-weight: $font--weight-success;
                            color: $clr--primary-light;
                        }
                    }
                    .form__group{
                        &__control{
                            max-width: 100%;
                            margin-bottom: 15px;
                            border-color: $clr--secondary-disabled;
                            padding: 10px 15px;
                            height: auto;
                            background-color: $clr--secondary-disabled;
                            box-shadow: none;
                            border: none;
                            outline: none;
                            display: block;
                            width: 100%;
                            font-family: $font--family-primary;
                            font-size: $font--size-light;
                            line-height: 1.5em;
                            font-weight: $font--weight-secondary;
                            color: $clr--primary-dark;
                            background-image: none;
                        }
                    }
                }
            }
        }
    }
}