.row {
    display: grid;
}

.grid__item {
    height: 200px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all .4s linear;
    cursor: pointer;
}

.grid__item:hover {
    transform: scale(1.1);
    filter: opacity(0.9);
}