*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 148px;
    margin-bottom: 25px;
}
.header__top{
    height: 64px;
    background-color: #0a472e;
    line-height: 39px;
}
.container{
    max-width: 1450px;
    margin: auto;
}
.site__welcome__text{
    color: #fff;
    font-size: 14px;
}
.header__top__links__list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.header__top__links__list__item{
    color: #fff;
    padding: 0 20px;
}
.header__top__links__list__item__buttons{
    text-decoration: none;
    color: #fff;
}
.header__nav{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header__nav__container{
    max-width: 1450px;
    /* margin: auto; */
    height: 109px;
    padding: 0 60px;
    display: grid;
    grid-template-columns: minmax(200px, 300px) repeat(5, 1fr);
    gap: 80px;
}
.header__nav__logo{
    max-width: 130px;
    display: flex;
}
.header__nav__pages{
    display: flex;
    height: 64px;
    line-height: 64px;
}
.header__nav__pages__list{
    list-style: none;
    display: flex;
    align-items: center;
}
.header__nav__pages__list__item{
    position: relative;
    display: inline-block;
}
.header__nav__pages__list__item__title{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 1em 1.3em;
    transition: all .3s ease;
}
.header__nav__pages__title__icon{
    font-size: 12px;
    margin-top: 10px;
}
.products__menu{
    list-style: none;
    position: absolute;
    min-width: 260px;
    z-index: 99999;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 7%);
    transition: all .3s ease;
}
.products__menu__item{
    padding: 0 20px;
    display: block;
    position: relative;
    height: 36px;
    bottom: 15px;
}
.products__menu__item__link{
    text-decoration: none;
    color: #000;
}
.header__nav__pages__list__item:hover .products__menu{
    opacity: 1;
    visibility: visible;
}
.header__nav__pages__list__item:hover .header__nav__pages__list__item__title{
    color: #a8b324;
}
.header__nav__actions{
    display: flex;
    align-items: center;
}
.header__up__actions__context{
    display: flex;
    width: 44px;
    height: 44px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background: #f4f4f4;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.header__up__actions__context:nth-child(2){
    background-color: #e8f8f7;
}
.header__up__actions__context:nth-child(3){
    background-color: #f6f3e3;
}
.header__up__actions__context:nth-child(4){
    background-color: #f3e4dc;
}
.header__up__actions__context__link{
    text-decoration: none;
    color: #000;
}
[data-badge]::after {
    content: attr(data-badge);
    position: absolute;
    bottom: 20px;
    right: -10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    background-color: #a8b324;
    border-radius: 50%;
  }
.header__up__actions__context:hover{
    background-color: #a8b324;
}
.header__up__actions__user__buttons{
    display: block;
    position: absolute;
    left: 60px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.header-nav-email-input{
    display: flex;
    align-items: center;
    min-width: 425px;
    justify-content: space-between;
    height: 45px !important;
    border-radius: 30px;
    padding: 0 3px;
    margin-top: 30px;
    background-color: #f4f4f4;
}
.header-nav-email-input input{
    margin: 0 !important;
    height: 45px !important;
    line-height: 40px;
    padding: 0 10px !important;
    background: 0 0;
    border: none;
    width: 100%;
    outline: none;
}
.header-nav-email-input .header-nav-btn{
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 20px;
    background-color: #f4f4f4;
    cursor: pointer;
    padding: 0 20px !important;
    border: none;
    outline: none;
}
.header-nav-btn-icon{
    display: inline-block;
    margin-left: 10px;
}
.header__nav__wrapper{
    display: flex;
    align-items: center;
    min-width: 300px;
    position: relative;
    left: 90px;
}
.header__nav__wrapper__icon{
    margin: 0 15px;
}
.header__nav__wrapper__icon span{
    font-size: 37px;
    color: #a8b324;
    border-color: #a8b324;
    fill: #a8b324;
}
.header__nav__wrapper__content__title{
    font-size: 12px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.header__nav__wrapper__content__description{
    color: #bac34e;
    font-size: 20px;
}
.header__top__item{
    display: flex;
}
.site__welcome{
    min-width: 280px;
    display: inline-block;
}
.sidebar-menu{
    padding: 7px;
}
.sidebar-menu:hover .wrap-category-inner{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.wrap-category-inner{
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    pointer-events: none;
    z-index: 8;
    position: absolute;
}
.sidebar-menu .category-inner{
    padding: 10px 0 30px;
    background-color: #fff;
    list-style: none;
    margin-top: 10px;
    min-width: 280px;  
}
.sidebar-menu .category-inner{
    position: relative;
    list-style: none;
    margin-top: 10px;
    border-top: none;
    border-radius: 5px;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 7%);
}
.category-menu{
    font-size: 14px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    padding: 12px 35px;
    padding-top: 14px;
    background-color: #80891b;
    border-radius: 30px;
}
.category-name{
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}
.category__inner__title{
    text-decoration: none;
    color: #000;
    position: relative;
    width: 280px;
    align-items: center;
    display: flex;
    padding: 0 30px;
    font-size: 14px;
}
.category__inner__title::before{
    position: absolute;
    content: '';
    width: calc(100% - 60px);
    height: 0;
    border-bottom: 1px solid;
    border-color: #ebebeb;
    left: 30px;
    bottom: 0;
}
.category-inner li:nth-child(9) .category__inner__title::before{
    border: none;
}
.category__inner__icon{
    font-size: 20px;
    margin-right: 15px;
    width: 20px;
    color: #aaa;
    display: flex;
    justify-content: center;
}
.category-inner .item-icon{
    position: absolute;
    right: 10%;
}
#about__top{
    margin: 0 0 5em;
}
.about__top__container{
    height: 300px;
}
.about__top__container__item{
    background-image: url(../images/breadcrumb_bkg.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
}
.col__full{
    max-width: 1350px;
    margin: auto;
    display: flex;
    height: 300px;
    align-items: center;
}
.about__top__content__title{
    font-size: 50px;
    color: #0a472e;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.about__top__content__nav a{
    text-decoration: none;
    color: #999;
    display: inline-block;
    font-size: 14px;
}
.about__top__content__nav__separator{
    font-size: 9px;
}
.about__top__content__nav__name{
    color: #000;
    font-size: 14px;
}
.contact__start{
    margin-bottom: 80px;
}
.contact__container{
    max-width: 1250px;
    margin: auto;
    display: flex;
}
.contact__content__item{
    min-width: 537px;
}
.contact__item__header{
    margin: 0px 0px 20px;
}
.h__contact__item__title{
    font-size: 30px;
    color: #0a472e;
    line-height: 1;
}
.contact__item__text{
    margin: 0px 0px 30px;
}
.contact__item__desc{
    color: #555;
    line-height: 25px;
}
.contact__item__info{
    display: flex;
    margin-bottom: 40px;
    padding: 0px 0px 30px;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: rgb(229, 229, 229);
}
.contact__item__info__box{
    margin: 0px 0px 30px;
}
.contact__item__info__content__heading{
    margin-bottom: 8px;
}
.contact__item__info__content__title{
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-transform: uppercase;
}
.contact__item__info__description{
    font-size: 14px;
    color: #555;
    line-height: 25px;
}
.contact__item___info__container{
    margin-left: 30%;
    position: relative;
    bottom: 5px;
}
.contact__item__info__container__heading{
    margin-bottom: 8px;
}
.contact__item__info__container__title{
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #000;
}
.works__days__content__box .day{
    font-size: 14px;
    color: #555555;
    line-height: 25px;
}
.works__days__content__box .hour{
    color: #000;
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
}
.contact__form__title{
    font-size: 30px;
    color: #0a472e;
    line-height: 30px;
}
.contact__form__header{
    margin: 0px 0px 30px;
}
.form-group{
    padding: 10px 0px;
}
.form-control{
    padding: 14px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    color: rgb(55, 58, 60);
    vertical-align: middle;
    -webkit-box-flex: 1;
    flex-grow: 1;
    outline: 0;
    font-weight: 400;
}
.form-group-btn{
    min-width: 180px;
    background-color: rgb(186, 195, 78);
    color: rgb(255, 255, 255);
    font-size: 14px;
    border-radius: 50px;
    padding: 20px;
    min-height: 40px;
    font-weight: 700;
    text-align: center;
    transition: all 0.3s ease 0s;
    display: inline-block;
    line-height: 1;
    border: none;
    cursor: pointer;
}
.form-group-btn:hover{
    background-color: rgb(157, 166, 56);
    color: rgb(255, 255, 255);
}
.footer{
    background-color: #0a472e;
}
.footer__start{
    max-width: 1519px;
}
.footer__start__container{
    max-width: 1320px;
    min-height: 552px;
    margin-right: auto;
    margin-left: auto;
}
.footer__header{
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #235a43;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 45px 0;
}
.site__footer__header__wrapper{
    display: flex;
}
.footer__header__wrapper__icon{
    margin: 0 15px;
}
.footer__header__wrapper__icon span{
    font-size: 48px;
    color: #a8b324;
    border-color: #a8b324;
    fill: #a8b324;
}
.footer__header__wrapper__content__title{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.footer__header__wrapper__content__description{
    color: #bac34e;
    font-size: 20px;
}
.footer__header{
    display: flex;
    position: relative;
}
.footer__header__wrapper__column{
    margin-left: 40px;
}
.footer__header__wrapper__column__title{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.footer__header__wrapper__column__socials__icons__link{
    text-decoration: none;
    color: #bac34e;
}
.footer__header__wrapper__right{
    position: absolute;
    right: 0;
    display: flex;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 15px;
}
.footer__container{
    border-bottom: 1px solid #235a43;
}
.site__footer__container{
    max-width: 1410px !important;
    margin: auto !important;
    padding: 60px 0px;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}
.footer__item{
    max-width: 234px;
    height: 181px;
}
.site__footer__container .footer__item .footer__item__header{
    padding-bottom: 20px;
}
.site__footer__container .footer__item .about-footer-inner ul li{
    list-style: none;
    display: flex;
    padding-bottom: calc(15px/2);
}
.site__footer__container .footer__item .about-footer-inner ul li .footer-inner-icon i{
    font-size: 25px;
    color: #777;
}
.site__footer__container .footer__item .about-footer-inner .footer-inner-text{
    color: #777;
    font-size: 16px;
    position: relative;
    display: inline-block;
    bottom: 5px;
    font-weight: 400;
    padding-left: 10px;
}
.site__footer__container .footer__item .about-footer-inner ul li .footer-inner-social-icons a{
    text-decoration: none;
    color: #777;
    font-size: 20px;
    padding-right: 10px;
}
.site__footer__container .footer__item .footer__item__header .h-about-footer-title{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.site__footer__container .footer_item .about-footer-inner .footer-category-list li{
    color: #909896;
    font-size: 1rem;
    line-height: 2;
    font-weight: 400;
    cursor: pointer;
}
.site__footer__container .footer__item .about-footer-inner .footer-category-list li:hover a{
    color: #a8b324;
}
.site__footer__container .footer__item .about-footer-inner .footer-category-list li a{
    text-decoration: none;
    transition: all .3s ease;
    color: #909896;
}
.site__footer__container .footer__item .about-footer-inner .about-footer-inner-desc p{
    color: #777;
    font-size: 16px;
    font-weight: 400;
}
.site__footer__container .footer__item .about-footer-inner .site-about-footer-email-input{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 40px !important;
    border: 1px solid #ccc !important;
    border-radius: 30px;
    padding: 0 3px;
    margin-top: 30px;
    background-color: #fff;
}
.site__footer__container .footer__item .about-footer-inner .site-about-footer-email-input input{
    margin: 0 !important;
    height: 40px !important;
    line-height: 40px;
    padding: 0 10px !important;
    background: 0 0;
    border: none;
    outline: none;
}
.site__footer__container .footer__item .about-footer-inner .site-about-footer-email-input .site-about-footer-btn{
    min-width: 46px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 50px 50px 0px;
    padding: 0px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
} 
.site-about-footer-email-input .about-footer-btn-icon{
    margin-right: 15px;
}
.about-footer-btn .fa-long-arrow-alt-right{
    color: #000;
}
.about-fouter-heading{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about-footer-inner-desc{
    margin: 0 0 25px;
}
.about-footer-inner-text{
    color: #909896;
    font-size: 14px;
}
.about-footer-inner-email-text{
    color: #fff;
}
.about-footer-info{
    padding: 45px 0 40px;
    text-align: center;
}
.about-footer-info-headling{
    color: #909896;
}
.footer__info__word{
    text-decoration: none;
    color: #a8b324;
}
.footer__info__word:hover{
    color: #80891b;
}