/* .hour__clockwise, .minute__clockwise, .second__clockwise{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
} */
.hour__clockwise::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 85px;
    background: rgb(71, 67, 67);
    z-index: 10;
    border-radius: 10px;
    top: 15px;
}
.minute__clockwise::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 120px;
    background: rgb(71, 67, 67);
    z-index: 11;
    border-radius: 10px;
    top: 10px;
}
.second__clockwise::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 150px;
    background: rgb(71, 67, 67);
    z-index: 12;
    border-radius: 6px;
    top: 10px;

}
