// Font Family Variable
$font--family-main: 'Lato', sans-serif;
$font--family-primary: 'Lora', serif;

// Font Size Variable
$font--size-main: 52px;
$font--size-primary: 40px;
$font--size-secondary: 34px;
$font--size-disabled: 32px;
$font--size-light: 20px;
$font-size-third: 18px;
$font--size-fourth: 16px;
$font--size-fifth: 26px;
$font--size-sixth: 22px;

// Font Weight Variable
$font--weight-main: bold;
$font--weight-primary: 500;
$font--weight-secondary: normal;