@import "color";
@import "class";
@import "font";

// font-family: 'Lato', sans-serif;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1440px;
    height: 7232px;
    overflow-x: hidden;
    overflow-y: hidden;
    // Header Start
    .header{
        width: 1110px;
        height: 43px;
        margin-top: 61px;
        align-items: center;
        margin-left: 165px;
        margin-right: 165px;
        &__logo{
            height: 32px;
            &__img{
                width: 89px;
                height: 32px;
                object-fit: contain;
            }
        }
        &__nav{
            width: 562px;
            height: 28px;
            margin-left: 162px;
            &__item{
                &__list{
                    margin-right: 40px;
                    .header__nav__item__link{
                        font-family: $font--family-main;
                        display: inline-block;
                        font-weight: $font--weight-main;
                        font-size: $font--size-fourth;
                        line-height: 28px;
                        color: $clr--primary-main;
                    }
                }
            }
        }
        &__user{
            margin-left: 81px;
            align-items: center;
            &__left{
                padding: 12px 24px;
                width: 92px;
                &__login{
                    font-family: $font--family-main;
                    font-weight: $font--weight-main;
                    font-size: $font--size-fourth;
                    display: inline-block;
                    line-height: 19px;
                    color: $clr--primary-light;
                    outline: none;
                    border: none;
                    background-color: $clr--secondary-light;
                }
            }
            &__right{
                padding: 12px 24px;
                width: 103px;
                background-color: $clr--primary-light;
                &__register{
                    font-family: $font--family-main;
                    font-weight: $font--weight-main;
                    font-size: $font--size-fourth;
                    display: inline-block;
                    line-height: 19px;
                    color: $clr--secondary-light;
                }
            }
        }
    }
    // Header end
    // Intro start
    .intro{
        width: 189px;
        height: 30px;
        margin-left: 165px;
        margin-top: 56px;
        align-items: center;
        &__word{
            font-family: $font--family-main;
            display: inline-block;
            font-weight: $font--weight-primary;
            font-size: $font--size-light;
            line-height: 30px;
            color: $clr--primary-main;
            height: 30px;
        }
        &__line{
            display: inline-block;
            width: 73px;
            height: 2px;
            background-color: $clr--primary-main;
            margin-left: 15px;
        }
    }
    // Intro End
    // Content Section Start
    .content {
        width: 1110px;
        height: 201px;
        margin: 0 165px;
        margin-top: 8px;
        &__left{
            min-width: 667px;
            margin-right: 61px;
            &__title{
                font-weight: $font--weight-main;
                font-size: $font--size-main;
                line-height: 67px;
                color: $clr--secondary-main;
                &__first__word{
                    color: $clr--primary-disabled;
                }
            }
        }
        &__right{
            min-width: 382px;
            height: 120px;
            margin-top: 10px;
            &__subtitle{
                font-family: $font--family-main;
                font-weight: $font--weight-primary;
                font-size: $font--size-light;
                line-height: 30px;
                color: $clr--primary-dark;
            }
        }
    }
    // Content Section End
    // Search Section Start
    .search{
        width: 445px;
        height: 459px;
        background-color: $clr--secondary-main;
        margin-left: 165px;
        margin-top: 65px;
        &__title{
            width: 333px;
            margin-top: 42px;
            margin-left: 40px;
            &__text{
                font-weight: $font--weight-main;
                font-size: $font--size-secondary;
                line-height: 44px;
                color: $clr--secondary-light;
            }
        }
        &__form__group{
            width: 365px;
            height: 68px;
            background-color: $clr--secondary-third;
            margin-left: 40px;
            margin-top: 17px;
            align-items: center;
            .search__form__item{
                .search__form__title{
                    display: block;
                    font-weight: $font--weight-primary;
                    font-size: $font--size-fourth;
                    line-height: 26px;
                    color: $clr--secondary-light;
                    opacity: 0.35;
                    margin-left: 16px;
                }
                .search__form__placeholder{
                    font-weight: $font--weight-primary;
                    font-size: $font--size-fourth;
                    line-height: 26px;
                    color: $clr--secondary-light;
                    margin-left: 16px;
                }
            }
            .search__form__icon{
                max-width: 11.61px;
                height: 6.8px;
                right: 30.6px;
            }
        }
        &__form__btn{
            width: 363px;
            height: 53px;
            background-color: $clr--primary-light;
            margin-left: 40px;
            margin-top: 22px;
            padding: 12.5px 114px;
            &__text{
                font-weight: $font--weight-main;
                font-size: $font-size-third;
                line-height: 28px;
                color: $clr--secondary-light;
                display: inline-block;
                width: 140.3px;
            }
        }
    }
    // Search Section End
    // Img Slider Section Start
    .img-slider{
        width: 960px;
        height: 626px;
        margin-left: 480px;
        &__bg{
            width: 960px;
            height: 598.05px;
            &__img{
                width: 960px;
                height: 598.05px;
            }
        }
    }
    // Img Slider Section End
    // Our Spaces Section Start
    .our-space{
        width: 1110px;
        height: 671px;
        margin-left: 165px;
        margin-top: 110px;
        &__head{
            width: 1108.69px;
            height: 60.53px;
            align-items: center;
            &__title{
                height: 51px;
                width: 216px;
                &__word{
                    width: 251px;
                    height: 51px;
                    font-weight: $font--weight-main;
                    font-size: $font--size-primary;
                    line-height: 51px;
                    color: $clr--secondary-main;
                }
            }
            &__subtitle{
                margin-left: 164px;
                font-family: $font--family-main;
                font-weight: $font--weight-primary;
                font-size: $font-size-third;
                line-height: 28px;
                color: $clr--secondary-disabled;
                min-width: 452px;
            }
            &__controls{
                margin-left: 109px;
                .our-space__controls__prev{
                    margin-right: 23.31px;
                    width: 52.69px;
                    height: 26.05px;
                }
            }
        }
        &__content{
            width: 1110px;
            height: 476px;
            margin-top: 51.47px;
            &__cards{
                width: 350px;
                &__img{
                    height: 419px;
                    margin-bottom: 25px;
                    .our-space__content__cards__action{
                        width: 72px;
                        height: 72px;
                        align-items: center;
                        justify-content: center;
                        background: $clr--primary-light;
                        color: $clr--secondary-light;
                        bottom: 0;
                    }
                }
                &__title{
                    margin-left: 89px;
                    width: 173px;
                    &__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-main;
                        font-size: $font--size-light;
                        line-height: 24px;
                        color: $clr--primary-main;
                    }
                }
            }
            &__item{
                width: 350px;
                height: 476px;
                margin-left: 30px;
                &__bg{
                    height: 467px;
                    background-color: $clr--secondary-main;
                    padding: 20px 13px 0px 14px;
                    &__body{
                        height: 447px;
                        background: rgba(16, 55, 92, 0.3);
                        &__title{
                            font-weight: $font--weight-secondary;
                            font-size: $font--size-disabled;
                            line-height: 41px;
                            color: $clr--secondary-light;
                            padding: 124px 61px 0px 61px;
                        }
                        &__desc{
                            font-family: $font--family-main;
                            font-weight: $font--weight-primary;
                            font-size: $font-size-third;
                            line-height: 28px;
                            color: $clr--secondary-light;
                            text-align: center;
                            padding-top: 14px;
                            padding-left: 41px;
                            padding-right: 29px;
                        }
                    }
                    &__button{
                        width: 255px;
                        height: 72px;
                        padding: 25px 73px 25px 53px;
                        align-items: center;
                        background-color: #FF5722;
                        color: #fff;
                        left: 0;
                        bottom: 0;
                        &__text{
                            font-weight: $font--weight-main;
                            display: inline-block;
                            font-size: 18px;
                            line-height: 22px;
                            color: #fff;
                            min-width: 138px;
                        }
                        &__icon{
                            margin-left: 21px;
                        }
                    }
                }
            }
            &__cards__two{
                width: 350px;
                margin-left: 30px;
                &__img{
                    height: 420px;
                    margin-bottom: 25px;
                    .our-space__content__cards__two__action{
                        width: 72px;
                        height: 72px;
                        align-items: center;
                        justify-content: center;
                        background: $clr--primary-light;
                        color: $clr--secondary-light;
                        bottom: 0;
                    }
                }
                &__title{
                    width: 129px;
                    margin-left: 108px;
                    &__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-main;
                        font-size: $font--size-light;
                        line-height: 24px;
                        color: $clr--primary-main;
                    }
                }
            }
        }
        &__controls{
            width: 160px;
            margin-top: 44px;
            text-align: center;
            margin-left: 475px;
            &__line{
                width: 160px;
                height: 4px;
                background: #DFDFDF;
                &__bg{
                    display: inline-block;
                    position: absolute;
                    width: 40px;
                    height: 4px;
                    background: $clr--primary-disabled;
                    left: 0;
                }
            }
            &__number{
                display: inline-block;
                margin-top: 7px;
                font-family: $font--family-main;
                font-weight: $font--weight-primary;
                font-size: $font-size-third;
                line-height: 28px;
                color: $clr--primary-main;
                &__last{
                    opacity: 0.35;
                }
            }
        }
    }
    // Our Space End
    // Hero Container Start
    .hero-container{
        width: 1110px;
        margin-top: 112px;
        margin-left: 165px;
        &__support{
            width: 499px;
            margin-top: 36px;
            flex-direction: row;
            flex-wrap: wrap;
            &__meeting{
                width: 171px;
                height: 75px;
                margin-right: 124px;
                &__img{
                    height: 32px;
                }
                &__content{
                    margin-left: 24px;
                    &__number{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-disabled;
                        line-height: 41px;
                        color: $clr--secondary-main;
                    }
                    &__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-fourth;
                        line-height: 26px;
                        color: $clr--secondary-disabled;
                        margin: 8px 0px;
                    }
                }
            }
            &__event{
                width: 147px;
                height: 75px;
                &__img{
                    height: 32px;
                }
                &__content{
                    margin-left: 24px;
                    &__number{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-disabled;
                        line-height: 41px;
                        color: $clr--secondary-main;
                    }
                    &__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-fourth;
                        line-height: 26px;
                        color: $clr--secondary-disabled;
                        margin: 8px 0px;
                    }
                }
            }
            &__countries{
                width: 125px;
                height: 75px;
                margin-top: 64px;
                &__img{
                    height: 32px;
                }
                &__content{
                    margin-left: 24px;
                    &__number{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-disabled;
                        line-height: 41px;
                        color: $clr--secondary-main;
                    }
                    &__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-fourth;
                        line-height: 26px;
                        color: $clr--secondary-disabled;
                        margin: 8px 0px;
                    }
                }
            }
            &__internet{
                height: 75px;
                margin-top: 64px;
                margin-left: 162px;
                &__img{
                    height: 32px;
                }
                &__content{
                    margin-left: 24px;
                    &__number{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-disabled;
                        line-height: 41px;
                        color: $clr--secondary-main;
                    }
                    &__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-fourth;
                        line-height: 26px;
                        color: $clr--secondary-disabled;
                        margin: 8px 0px;
                    }
                }
            }
            &__mentors{
                height: 75px;
                margin-top: 64px;
                &__img{
                    height: 32px;
                }
                &__content{
                    margin-left: 24px;
                    &__number{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-disabled;
                        line-height: 41px;
                        color: $clr--secondary-main;
                    }
                    &__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-fourth;
                        line-height: 26px;
                        color: $clr--secondary-disabled;
                        margin: 8px 0px;
                    }
                }
            }
            &__community{
                height: 75px;
                margin-top: 64px;
                margin-left: 117px;
                &__img{
                    height: 32px;
                }
                &__content{
                    margin-left: 24px;
                    &__number{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-disabled;
                        line-height: 41px;
                        color: $clr--secondary-main;
                    }
                    &__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-fourth;
                        line-height: 26px;
                        color: $clr--secondary-disabled;
                        margin: 8px 0px;
                    }
                }
            }
        }
        &__right{
            margin-left: 71px;
            width: 540px;
            height: 421px;
            background-color: $clr--secondary-main;
            &__head{
                width: 433px;
                height: 140px;
                margin-top: 54px;
                margin-left: 53px;
                .hero-container__head__frame{
                    width: 197px;
                    align-items: center;
                    .hero-container__head__frame__text{
                        font-family: $font--family-main;
                        font-weight: $font--weight-primary;
                        font-size: $font--size-light;
                        line-height: 30px;
                        color: $clr--secondary-light;
                        display: inline-block;
                    }
                    .hero-container__head__frame__line{
                        width: 73px;
                        height: 2px;
                        background: #fff;
                        display: inline-block;
                        margin-left: 15px;
                    }
                }
                .hero-container__head__title{
                    font-family: $font--family-primary;
                    font-weight: $font--weight-main;
                    font-size: $font--size-primary;
                    line-height: 51px;
                    color: $clr--secondary-light;
                    margin-top: 8px;
                }
            }
            &__content{
                width: 433px;
                height: 150px;
                margin-left: 53px;
                margin-top: 24px;
                &__desc{
                    font-family: $font--family-main;
                    font-weight: $font--weight-primary;
                    font-size: $font--size-light;
                    line-height: 30px;
                    color: $clr--secondary-light;
                }
            }
        }
    }
    // Hero Container End
    // Facilites Section Start
    .facilites{
        width: 1148px;
        margin-left: 153px;
        margin-top: 112px;
        &__heading{
            width: 1136px;
            margin-bottom: 51px;
            margin-left: 12px;
            &__frame{
                width: 203px;
                align-items: center;
                &__text{
                    min-width: 117px;
                    font-family: $font--family-main;
                    font-weight: $font--weight-primary;
                    font-size: $font--size-light;
                    line-height: 30px;
                    color: $clr--primary-main;
                    display: inline-block;
                }
                &__line{
                    width: 73px;
                    height: 2px;
                    display: inline-block;
                    background-color: $clr--primary-main;
                    margin-left: 15px;
                }
            }
            &__title{
                width: 570px;
                font-family: $font--family-primary;
                font-weight: $font--weight-main;
                font-size: $font--size-primary;
                line-height: 51px;
                color: $clr--secondary-main;
            }
        }
        &__content{
            width: 1122px;
            &__indicator{
                width: 28px;
                height: 235px;
                &__line{
                    width: 160px;
                    height: 4px;
                    background: #DFDFDF;
                    transform: rotate(90deg);
                    transform-origin: 0 0;
                    margin-left: 16px;
                    &__bg{
                        width: 40px;
                        height: 4px;
                        background-color: $clr--primary-light;
                    }
                }
                &__number{
                    width: 56px;
                    font-family: "Lato", sans-serif;
                    font-weight: $font--weight-primary;
                    font-size: 18px;
                    line-height: 28px;
                    color: #222831;
                    transform: rotate(-90deg);
                    bottom: 0;
                    left: -14px;
                    &__last{
                        opacity: 0.35;
                    }
                }
            }
            &__box{
                width: 293px;
                margin-left: 24px;
                &__item{
                    width: 293px;
                    padding-top: 24px;
                    padding-left: 24px;
                    padding-bottom: 24px;
                    .facilites__content__box__link{
                        font-family: $font--family-main;
                        font-weight: $font--weight-main;
                        font-size: $font--size-light;
                        line-height: 24px;
                        color: $clr--primary-main;
                        display: inline-block;
                        width: 195px;
                    }
                }
            }
            &__img{
                margin-left: 48px;
                height: 453px;
            }
        }
    }
    // Facilites Section End 
    // Gallery Section Start
    .gallery{
        width: 1624px;
        height: 606px;
        margin-top: 112px;
        &__container{
            &__img{
                margin-left: 260px;
            }
            &__heading{
                width: 496px;
                height: 204.41px;
                margin-left: 74px;
                &__frame{
                    width: 214px;
                    align-items: center;
                    margin-bottom: 8px;
                    &__text{
                        min-width: 126px;
                        font-family: $font--family-main;
                        font-weight: $font--weight-primary;
                        font-size: $font--size-light;
                        line-height: 30px;
                        color: $clr--primary-main;
                        display: inline-block;
                    }
                    &__line{
                        width: 73px;
                        height: 2px;
                        display: inline-block;
                        background-color: $clr--primary-main;
                        margin-left: 15px;
                    }
                }
                &__title{
                    margin-bottom: 38.35px;
                    font-family: $font--family-primary;
                    font-weight: $font--weight-main;
                    font-size: $font--size-primary;
                    line-height: 51px;
                    color: $clr--secondary-main;
                }
                &__controls{
                    &__prev{
                        margin-right: 23.31px;
                    }
                }
            }
        }
        &__img__one{
            bottom: 0;
            height: 417px;
        }
        &__content{
            margin-left: 735px;
            bottom: 0;
            height: 350px;
            &__img{
                margin-right: 30px;
            }
        }
    }
    // Gallery Section End
    // Frispes Section Start
    .frispes{
        width: 1175.53px;
        margin-left: 132px;
        margin-top: 112px;
        &__head{
            width: 633px;
            height: 103px;
            margin-left: 271px;
            margin-bottom: 56px;
            &__title{
                margin-bottom: 24px;
                &__word{
                    font-family: $font--family-primary;
                    font-weight: $font--weight-main;
                    font-size: $font--size-primary;
                    line-height: 51px;
                    color: #0D2C4A;
                    text-align: center;
                }
            }
            &__subtitle{
                font-family: $font--family-main;
                color: $clr--secondary-disabled;
                font-weight: $font--weight-primary;
                font-size: $font-size-third;
                line-height: 28px;
                text-align: center;
            }
        }
        &__frame{
            align-items: center;
            &__logo__one{
                margin-right: 60px;
            }
            &__logo__two{
                margin-right: 60px;
            }
            &__logo__three{
                margin-right: 60px;
            }
            &__logo__four{
                margin-right: 60px;                
            }
            &__logo__five{
                width: 145.74px;
                margin-right: 60px;            
            }
            &__logo__six{
                width: 139.79px;
            }
        }
    }
    // Frispes Section End
    // Reviews Section Start
    .reviews{
        width: 1395px;
        margin-left: 165px;
        margin-top: 112.37px;
        &__top{
            grid-template-columns: 399px 167.69px;
            gap: 541.31px;
            margin-bottom: 56px;
            &__head{
                width: 399px;
                &__frame{
                    width: 214px;
                    align-items: center;
                    margin-bottom: 8px;
                    &__text{
                        width: 73px;
                        font-family: $font--family-main;
                        font-weight: $font--weight-primary;
                        font-size: $font--size-light;
                        line-height: 30px;
                        color: $clr--primary-main;
                        display: inline-block;
                    }
                    &__line{
                        width: 73px;
                        height: 2px;
                        display: inline-block;
                        background-color: $clr--primary-main;
                        margin-left: 15px;
                    }
                }
                &__title{
                    font-family: $font--family-primary;
                    font-weight: $font--weight-main;
                    font-size: $font--size-primary;
                    line-height: 51px;
                    color: $clr--secondary-main;
                }
            }
            &__controls{
                align-items: flex-end;
                &__prev{
                    margin-right: 23.31px;
                }
            }
        }
        &__content{
            grid-template-columns: 445px 445px 445px;
            gap: 30px;
            &__item{
                height: 393px;
                background-color: $clr--secondary-main;
                &__desc{
                    margin: 47px 40px 94px 40px;
                    font-family: $font--family-main;
                    font-weight: $font--weight-secondary;
                    font-size: $font--size-fourth;
                    line-height: 26px;
                    color: $clr--secondary-light;
                }
                .content__item__customer{
                    margin-left: 40px;
                    &__img{
                        height: 56px;
                        margin-right: 16px;
                    }
                    &__identity{
                        .content__item__customer__name{
                            display: block;
                            font-family: $font--family-main;
                            font-weight: $font--weight-main;
                            font-size: $font-size-third;
                            line-height: 28px;
                            color: $clr--secondary-light;
                        }
                        .content__item__customer__work{
                            display: inline-block;
                            font-family: $font--family-main;
                            font-weight: $font--weight-secondary;
                            font-size: $font--size-fourth;
                            line-height: 26px;
                            color: $clr--secondary-light;
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
        &__indicator{
            width: 160px;
            margin-left: 475px;
            margin-top: 32px;
            &__line{
                width: 160px;
                height: 4px;
                background-color: #DFDFDF;
                &__bg{
                    display: inline-block;
                    width: 40px;
                    height: 4px;
                    background: $clr--primary-disabled;
                    left: 0;
                }
            }
        }
    }
    // Reviews Section End
    .faq{
        width: 1120px;
        margin-left: 161px;
        margin-top: 112px;
        &__head{
            width: 578px;
            margin-left: 270px;
            text-align: center;
            &__title{
                font-family: $font--family-primary;
                font-weight: $font--weight-main;
                font-size: $font--size-primary;
                line-height: 51px;
                color: $clr--secondary-main;
            }
        }
        &__content{
            grid-template-columns: 361px 350px 361px;
            gap: 30px;
            margin-top: 51px;
            &__box{
                height: 203px;
                &__action{
                    width: 64px;
                    height: 74px;
                    z-index: 20;
                    text-align: center;
                    top: 151px;
                    left: 142px;
                    &__img{
                        background: $clr--primary-light;
                        margin-left: 10px;
                        width: 48px;
                    }
                }
                &__item{
                    width: 350px;
                    height: 171px;
                    padding: 0px 7px 32px 4px;
                    background-color: $clr--secondary-light;
                    box-shadow: 0 0 15px 1px #ebebeb;
                    &__text{
                        padding: 42px 40px 63px 40px;
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-fifth;
                        line-height: 33px;
                        text-align: center;
                        color: $clr--secondary-dark;
                    }
                }
            }
            &__item{
                height: 200px;
                &__action{
                    width: 64px;
                    height: 74px;
                    z-index: 20;
                    text-align: center;
                    top: 151px;
                    left: 142px;
                    &__img{
                        background: $clr--secondary-light;
                        margin-left: 10px;
                        width: 48px;
                        box-shadow: 0 0 1px 1px #ebebeb;
                    }
                }
                &__box{
                    width: 350px;
                    height: 171px;
                    padding: 0px 7px 32px 4px;
                    background-color: $clr--primary-light;
                    box-shadow: 0 0 15px 1px #ebebeb;
                    &__text{
                        padding: 42px 40px 63px 40px;
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-fifth;
                        line-height: 33px;
                        text-align: center;
                        color: $clr--secondary-light;
                    }
                }
            }
            &__link{
                width: 150px;
                margin-left: 484px;
                &__word{
                    align-items: center;
                    font-family: $font--family-main;
                    font-weight: $font--weight-secondary;
                    font-size: $font--size-fourth;
                    line-height: 26px;
                    color: $clr--primary-light;
                    .faq__content__link__icon{
                        padding-right: 8px;
                    }
                }
            }
        }
    }
    // Faq Section End
    // Insights Start
    .insights{
        width: 1440px;
        height: 933px;
        margin-top: 39px;
        background-color: #F8F8F8;
        &__top{
            grid-template-columns: 641px 106px;
            gap: 363px;
            margin-left: 165px;
            padding-top: 60px;
            &__head{
                width: 641px;
                &__title{
                    font-family: $font--family-primary;
                    font-weight: $font--weight-main;
                    font-size: $font--size-primary;
                    line-height: 51px;
                    color: $clr--secondary-main;
                }
            }
            &__link{
                width: 106px;
                align-items: center;
                &__word{
                    font-family: $font--family-main;
                    font-weight: $font--weight-secondary;
                    font-size: $font--size-fourth;
                    line-height: 26px;
                    color: $clr--primary-light;
                }
            }
        }
        &__container{
            width: 1110px;
            height: 690px;
            margin-top: 56px;
            margin-left: 165px;
            flex-direction: row;
            flex-wrap: wrap;
            &__box{
                width: 730px;
                height: 320px;
                margin-right: 30px;
                .insights__box__img{
                    width: 350px;
                }
                .insights__box__content{
                    width: 380px;
                    height: 320px;
                    background-color: $clr--secondary-light;
                    &__item{
                        margin-top: 32px;
                        margin-right: 33px;
                        margin-left: 32px;
                        &__title{
                            font-family: $font--family-primary;
                            font-weight: $font--weight-main;
                            font-size: $font--size-disabled;
                            line-height: 41px;
                            color: $clr--primary-main;
                        }
                        &__subtitle{
                            font-family: $font--family-main;
                            font-weight: $font--weight-secondary;
                            font-size: $font--size-fourth;
                            line-height: 26px;
                            color: $clr--secondary-disabled;
                            margin-top: 24px;
                            margin-bottom: 16px;
                        }
                    }
                    &__author{
                        width: 186px;
                        margin-left: 32px;
                        &__img{
                            height: 56px;
                        }
                        &__identity{
                            width: 107px;
                            margin-left: 23px;
                            .insights__box__content__author__name{
                                display: block;
                                font-family: $font--family-main;
                                font-weight: $font--weight-primary;
                                font-size: $font-size-third;
                                line-height: 28px;
                                color: $clr--secondary-main;
                            }
                            .insights__box__content__author__work{
                                font-family: $font--family-main;
                                font-weight: $font--weight-secondary;
                                font-size: $font--size-fourth;
                                line-height: 26px;
                                color: $clr--secondary-disabled;
                            }
                        }
                    }
                }
            }
            &__item{
                width: 350px;
                height: 320px;
                margin-right: 30px;
                &__img{
                    height: 204px;
                }
                .insights__item__content{
                    height: 116px;
                    background-color: $clr--secondary-light;
                    &__title{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-secondary;
                        font-size: $font--size-sixth;
                        line-height: 28px;
                        color: $clr--primary-main;
                        padding-top: 14px;
                        padding-left: 16px;
                        padding-bottom: 4px;
                    }
                    &__name{
                        font-family: $font--family-main;
                        font-weight: $font--weight-primary;
                        font-size: $font--size-fourth;
                        line-height: 26px;
                        color: $clr--secondary-disabled;
                        margin-left: 16px;
                    }
                }
            }
        }
    }
    // Insights End
    // Member Section Start
    .member{
        width: 1440px;
        height: 592px;
        &__content{
            background-color: $clr--secondary-main;
            overflow: hidden;
            &__left{
                width: 445px;
                height: 302px;
                margin-left: 165px;
                margin-top: 71px;
                .member__content__review{
                    height: 140px;
                    margin-bottom: 16px;
                    &__frame{
                        width: 251px;
                        align-items: center;
                        margin-bottom: 8px;
                        &__text{
                            display: inline-block;
                            font-family: $font--family-main;
                            font-weight: $font--weight-primary;
                            font-size: $font--size-light;
                            line-height: 30px;
                            color: $clr--secondary-fourth;
                            margin-right: 15px;
                        }
                        &__line{
                            display: inline-block;
                            width: 73px;
                            height: 2px;
                            background-color: $clr--secondary-fourth;
                        }
                    }
                    &__title{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-main;
                        font-size: $font--size-primary;
                        line-height: 51px;
                        color: $clr--secondary-light;
                    }
                }
                .member__content__text{
                    font-family: $font--family-main;
                    font-weight: $font--weight-secondary;
                    font-size: $font--size-light;
                    line-height: 30px;
                    color: $clr--secondary-fifth;
                    margin-bottom: 33px;
                }
                .member__content__btn{
                    width: 350px;
                    height: 53px;
                    padding: 12.5px 114px;
                    background-color: $clr--primary-light;
                    &__link{
                        font-family: $font--family-main;
                        font-weight: $font--weight-main;
                        font-size: $font-size-third;
                        line-height: 28px;
                        color: $clr--secondary-light;
                    }
                }
            }
            &__right{
                width: 373px;
                margin-left: 208px;
                &__pattern{
                    top: 54px;
                }
                &__img{
                    margin-left: 42px;
                    bottom: 49px;
                }
            }
        }
    }
    // Member Section End
    // Footer Start
    .footer{
        width: 1440px;
        height: 408px;
        background-color: #0D2C4A;
        bottom: 136px;
        &__container{
            width: 1110px;
            height: 250px;
            padding: 56px 165px 102px 165px;
            &__about{
                min-width: 255px;
                &__head{
                    width: 181px;
                    margin-bottom: 16px;
                    &__title{
                        font-family: $font--family-primary;
                        font-weight: $font--weight-main;
                        font-size: $font--size-main;
                        line-height: 67px;
                        color: $clr--secondary-light;
                    }
                }
                &__desc{
                    font-family: $font--family-main;
                    font-weight: $font--weight-secondary;
                    font-size: $font--size-fourth;
                    line-height: 26px;
                    color: $clr--secondary-fourth;
                    opacity: 0.85;
                    margin-bottom: 24px;
                }
                &__socials{
                    width: 104px;
                    &__icon{
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        margin-right: 16px;
                    }
                }
            }
            &__content{
                margin-top: 30px;
                margin-left: 125px;
                .footer__content__spaces{
                    width: 133px;
                    height: 220px;
                    margin-right: 68px;
                    &__head{
                        font-family: $font--family-main;
                        font-weight: $font--weight-primary;
                        font-size: $font--size-light;
                        line-height: 30px;
                        color: $clr--secondary-light;
                        opacity: 0.5;
                    }
                    &__list{
                        margin-top: 24px;
                        &__item{
                            font-family: $font--family-main;
                            font-weight: $font--weight-secondary;
                            font-size: $font--size-fourth;
                            line-height: 26px;
                            color: $clr--secondary-light;
                            margin-bottom: 9px;
                        }
                    }
                }
                .footer__content__company{
                    width: 84px;
                    height: 185px;
                    margin-right: 68px;
                    &__head{
                        font-family: $font--family-main;
                        font-weight: $font--weight-primary;
                        font-size: $font--size-light;
                        line-height: 30px;
                        color: $clr--secondary-light;
                        opacity: 0.5;
                    }
                    &__list{
                        margin-top: 24px;
                        &__item{
                            font-family: $font--family-main;
                            font-weight: $font--weight-secondary;
                            font-size: $font--size-fourth;
                            line-height: 26px;
                            color: $clr--secondary-light;
                            margin-bottom: 9px;
                        }
                    }
                }
                .footer__content__support{
                    width: 97px;
                    height: 150px;
                    margin-right: 68px;
                    &__head{
                        font-family: $font--family-main;
                        font-weight: $font--weight-primary;
                        font-size: $font--size-light;
                        line-height: 30px;
                        color: $clr--secondary-light;
                        opacity: 0.5;
                    }
                    &__list{
                        margin-top: 24px;
                        &__item{
                            font-family: $font--family-main;
                            font-weight: $font--weight-secondary;
                            font-size: $font--size-fourth;
                            line-height: 26px;
                            color: $clr--secondary-light;
                            margin-bottom: 9px;
                        }
                    }
                }
                .footer__content__contact{
                    width: 212px;
                    height: 180px;
                    &__head{
                        font-family: $font--family-main;
                        font-weight: $font--weight-primary;
                        font-size: $font--size-light;
                        line-height: 30px;
                        color: $clr--secondary-light;
                        opacity: 0.5;
                    }
                    &__list{
                        margin-top: 24px;
                        &__item{
                            font-family: $font--family-main;
                            font-weight: $font--weight-secondary;
                            font-size: $font--size-fourth;
                            line-height: 26px;
                            color: $clr--secondary-light;
                            margin-bottom: 9px;
                        }
                    }
                }
            }
        }
    }
    // Footer End
}